header{
    height:8%;
    width:100%;
    display:flex;
    justify-content: left;
    align-items: flex-end;
    position: fixed;
    border-bottom: 1px solid black;
}
#nav-bar{
    display:flex;
    justify-content: space-between;
    width: 200px;
    padding-left: 100px;
  }
 