header{
    height:8%;
    width:100%;
    display:flex;
    justify-content: left;
    align-items: flex-end;
    position: fixed;
    background-color: beige;
    border-bottom: 1px solid black;
}
#nav-bar{
    display:flex;
    justify-content: space-between;
    width: 200px;
    padding-left: 100px;
  }
 main{
    padding-top: 100px;
 }

 button{
        cursor: pointer;
        color: #0a0a23;
 }
 /* YEAR VIEW */
 #year-view{

 }
 #year-view td, #year-view th{
  height:70px;
  width: 35px;
  max-width: 39px;
 }


.day-cell{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  text-align: left;
  border-bottom: 1px dashed black;
}

.day{
  position: relative;
  text-align: left;
  border: 1px solid black;
}

.vacation-day{
  margin-top: 17px;
  overflow: hidden;
  width: 45px;
 }

.today{
     background-color: #F95454;
}

/* TABLE VIEW */
 #table-view
 {
  border: 1px solid black;
 }

 #table-view td, #table-view th {
  border: 1px solid black;
  padding: 4px;
 }

 #table-view caption
 {
    margin-top:20px;
 }
 


